body {
    background-color: #f8f9fc;
}

.hero-section {
    background: linear-gradient(to bottom, #ffffff, #f8f9fc);
}

.card textarea {
    resize: none;
}

/* Loading spinner */
#loading {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#loading .spinner-border {
    width: 3rem;
    height: 3rem;
}

